@use 'header.scss';
@use 'footer.scss';
@use 'home.scss';

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Consolas';
    src: url(../fonts/Consolas.TTF);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2769e3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2054b4;
}
